:root{
    --primary-100: #F2F2F2;
    --primary-blue-500: #001662;
    --primary-blue-600:  #001459;
    --neutral-grey-500: #787878;
    --neutral-grey-900: #323232;
    --accent-orange-500: #FE5000;
    --primary-grey-500: #D5D5D5;
    --primary-blue-300: #546396;
}