/* styles/LoginPage.module.scss */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 72px;
  }

  .organization-logo{
    width: 300px;
    height: 60px;
  }
  
  .heading{
    margin-top: 50px;
    margin-bottom: 0;
    color: var(--primary-blue-500);
    font-size: var(--font-lg);
    font-weight: var(--font-weight-sm);
    padding: 0;
  }

  .small-heading{
    margin-top: 0;
    color: var(--neutral-grey-500);
    font-size: var(--font-md);
    font-weight: var(--font-weight-sm);
  }

  .form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }

  .label{
    margin-bottom: -10px;
    z-index: 1;
    background-color: var(--primary-100);
    margin-left: 10px;
    width: fit-content;
    padding: 0px 2px;
    color: var(--primary-blue-500);
  }

  .input {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: var(--primary-100);
    border-color: var(--primary-blue-500);
  }
  .small-button{
    margin-top: 16px;
    color: var(--accent-orange-500);
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
  }
  
  .button {
    margin-top:24px;
    border-radius: 8px;
    background-color: var(--primary-blue-500);   
    display: flex;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    padding: 10px 20px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }

  